# .ebextensions/01_tomcat.config
container_commands:
  01_add_maxPartCount:
    # 톰캣 server.xml 에서 Connector 8080 태그에 maxPartCount 추가에서 중복 방지
    command: |
      if ! grep -q 'maxPartCount=' /etc/tomcat*/server.xml; then
        sed -i \
          's#<Connector port="8080" protocol="HTTP/1.1"#<Connector port="8080" protocol="HTTP/1.1" maxPartCount="-1"#' \
          /etc/tomcat*/server.xml
      fi